# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
*~
#ignore the folder called build anywhere, but not files called build
build/
bin/

#ignore idea config files
.idea
.settings
.vscode

.hprof
.class
